<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-t0-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<%= form_with(model: imagegallery, local: true) do |form| %>
  <% if imagegallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(imagegallery.errors.count, "error") %> prohibited this imagegallery from being saved:</h2>

      <ul>
        <% imagegallery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="d-flex flex-column my-3">
  
        <div class="field divLabelNew ">
        <p class="bg-secondary text-white p-1 "> <%= form.label :title %> </p>
          <p ><%= form.text_field :title   , :class => 'text-box-size-new'  %></p>
        </div>
        
         <div class="field divLabelNew ">
        <p class="bg-secondary text-white p-1 "> <%= form.label :tag_list ,"Tags (seperated by commas)" %></p>
          <p ><%= form.text_field :tag_list  , :class => 'text-box-size-new'  %></p>
        </div>


        <div class="field divImageNew ">
        <p class="bg-secondary text-white p-1 " > <%= form.label :image %> </h6><p>
        <%= form.file_field :image %>
        </div>

        <div class="field divCaptionNew ">
        <p class="bg-secondary text-white p-1 "> <%= form.label :caption %></p>
        <p> <%= form.text_area :caption, :class => 'text-box-size-new'  %></p>
        </div>

        <div class="actions ">
       <%= form.submit 'Submit', :class => 'btn btn-success' %> 
        </div>
  
</div>  
<% end %>


