 
 <%# <p id="notice"><%= notice %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-t0-fit=no">
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"   integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
<%=  stylesheet_pack_tag 'application' %>
  
   <script>   $(document).ready(function(){
          $('.tag-search-form').submit(function(e){
            var new_action_url = $(this).attr('action') + "/" + $('#tag', this).val();
            $(this).attr('action', new_action_url)
          });
        });
  </script>

    <div class="container-fluid p-0">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  <a class="navbar-brand disabled" >IMAGE GALLERY</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <ul class=" navbar-nav mr-auto mt-2 mt-lg-0  ">
                    <li class="mr-3">
                      <a > <%= link_to 'HOME', showallimages_path, :class => 'btn btn-info' %> </a>
                    </li>                     
                    
                    <li class="nav-item pr-3">
                       <p class="text-white welcomeCurrentUser">WELCOME : <%= current_user.email.split('@')[0] %></p>
                    </li>            
                  </ul>    
                  <ul class="nav navbar-nav navbar-right ">  
                    <li class="mr-3" >
                       <a > <%= link_to 'UPLOAD', new_imagegallery_path, :class => 'btn btn-primary my-1' %></a>
                    </li> 
                    <li class="mr-3">
                     <a> <%= link_to 'Sign Out' ,destroy_user_session_path, :class => 'btn btn-danger my-1', :method => :get %></a>
                    </li>                    
                  </ul> 
                </div>
              </nav>       
     </div>
  

 <div class="container-fluid">
    <div class="row">
          <div class=" col-sm-12 col-md-2">
          </div>
        <div class=" col-sm-12 col-md-8 ">
            <div class="  d-flex flex-wrap flex-row  justify-content-start ">  
                  <% @imagegalleries.each do |imagegallery| %>
                  <div class="card mt-4 mx-2" style="width:16rem;">      
                    <%=  image_tag(imagegallery.image , class:"onHoverCardImg card-img-top img-fluid " )  %>  
                          <div class="card-body py-0">
                              <p class="card-text card-text-edit mt-2"><b>Title : </b><%=   imagegallery.title  %> </p>                           
                              <p class="card-text card-caption-edit text-justify "><b> Caption : </b><%=  imagegallery.caption  %>  </p>        
                              <p class="card-text card-tag-edit "> 
                                      <%# <p> Tags :<% imagegallery.tag_list.each do |tag|  <%= link_to tag, tag_path(tag: tag) %> 
                                      <p><b>Tags : </b> <%= imagegallery.tag_list %></p>                            
                              </p>                 
                              <p class="card-text d-flex flex-nowrap mt-1 mb-1"><small><b>Created on  : </b><%= imagegallery.created_at.to_s.split(' ')[0] %>  </small>  </p>
                              <p class="card-text d-flex flex-nowrap mb-1"><small><b>Updated on  : </b><%= imagegallery.updated_at.to_s.split(' ')[0] %>   </small> </p>
                          </div>
                          <div class="card-body d-flex  pt-2 ">
                              
                            <a  class="card-link "><%= link_to 'Show', imagegallery %></a>
                            <a  class="card-link flex-fill"><%= link_to 'Edit', edit_imagegallery_path(imagegallery) %></a>
                            <a  class="card-link flex-fill"><%= link_to 'Destroy', imagegallery, method: :delete, data: { confirm: 'Are you sure?' } %></a>
                          </div>               
                  </div>
                  <% end %>
              </div> 
         </div>
    
          <div class="col-sm-12 col-md-2 "> 
              <div class="border p-2 mt-4" >
                      <div>         <h3 class="text-secondary border-bottom"> Search </h3>
                      </div>
                      <div >                       
                                <%= search_form_for @q do |f| %>
                                   <h5 class="mt-3 mb-2"> <%= f.label :title_or_caption  %> </h5>
                                    <%= f.text_field  :title_or_caption_cont, class: 'form-control',placeholder: "Search title / caption", :required => 'required' %>
                                    <%= f.submit class: 'btn btn-primary mb-3 mt-2' %>
                                <% end %>
                      </div> 
                      
                        <div  > <h5 class="my-2">Tag</h5>
                                  <%= form_tag tagged_path(tag: tag), :class => 'form-inline', :method => :get do  %> 
                                     <%= text_field_tag :tag ,params[:tag] , class: 'form-control setwidthofTagInputElement', placeholder: "Search tag", :required => 'required'%> 
                                     <%= submit_tag 'Search' , :name =>nil , :class => 'btn btn-primary mb-3 mt-2'%>  
                                  <% end %>  
                        </div>  
                            
            </div>              
        </div>
    </div>
</div>


<div class="m-5 d-flex justify-content-center">
   <%= paginate @imagegalleries %>
</div>

 <%# # if user_signed_in?            
#   @imagegalleries = current_user.imagegalleries.page( params[:page])     
#   redirect_to "/imagegalleries"  
# else
#   @imagegalleries = Imagegallery.all.page( params[:page])  
#   render template: "imagegalleries/showallimages"
# end %>


